* {
  box-sizing: border-box;
}

html {
  background: url(background.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.App {
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.button {
  display: inline-flex;
  height: 40px;
  width: 150px;
  border: 2px solid #BFC0C0;
  margin: 20px 20px 20px 20px;
  color: #BFC0C0;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.5em;
  letter-spacing: 1.5px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  cursor: pointer;
}

.a {
  /* color: #BFC0C0; */
  text-decoration: none;
  letter-spacing: 1px;
  color: black;
}

a {
  text-decoration: none;
  letter-spacing: 1px;
  color: black;
}

#button-3 {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

#button-3 a {
  position: relative;
  transition: all .45s ease-Out;
}

#circle {
  width: 0%;
  height: 0%;
  opacity: 0;
  line-height: 40px;
  border-radius: 50%;
  background: #BFC0C0;
  position: absolute;
  transition: all .5s ease-Out;
  top: 20px;
  left: 70px;
}

#button-3:hover #circle {
  width: 200%;
  height: 500%;
  opacity: 1;
  top: -70px;
  left: -70px;
}

#button-3:hover a {
  color: #2D3142;
  font-weight: bolder;
}

.new-entry-button {
  color: white;
}

.submit-button {
  color: black;
}

.submit-button:hover {
  background-color: #BFC0C0;
  transition: all .5s ease-Out;
  font-weight: bolder;
}

button {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1em;
  text-transform: uppercase;
  color: black;
  border: none;
  background-color: #F2E3CE;
}

/* button {
  cursor: pointer;
} */

/* button:hover {
  /* background-color: #EBA29D
  background-color: #F2E3CE;
} */

/* .submit-button {
  color: black;
} */

h1 {
  font-family: 'Shadows Into Light Two', cursive;
  font-size: 44px;
  color: black;
  padding: 0px;
  margin: 5px;
}

h2 {
  font-family: 'Shadows Into Light Two', cursive;
  color: black;
  font-size: 28px;
  margin: 0px;
}

.header {
  text-decoration: none;
}

.header:hover {
  text-decoration: underline;
}

.header::after {
  text-decoration: none;
}

.tagline {
  font-family: 'Open Sans Condensed', sans-serif;
}

.journal-title {
  text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.81);
}

p {
  font-size: 24px;
  color: black;
}

/* a {
  color: black;
  text-decoration: none;
} */

/* a:active {
  text-decoration: underline;
  text-decoration-color: #F2E3CE;
}

a:hover {
  text-decoration: underline;
  text-decoration-color: #F2E3CE;
} */

/* .navbar {
  background-color: #F2E3CE;
} */

label[for="hamburger"] {
  font-size: 30px;
  cursor: pointer;
}

navbar, li {
  display: none;
}

.navbar input#hamburger:checked ~ ul {
  display: block;
}

/* .navbar input {
  visibility: hidden
} */

.menu {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.menu, li {
  align-content: center;
}

.nav-token {
  padding: 10px;
  margin: 0;
}

/* .nav-link {
  list-style-type: none;
  font-size: 22px;
} */

.new {
  background-color: #F2E3CE;
  margin: 5px;
}

.new-entry {
  background-color: #F2E3CE;
  opacity: .7;
}

.home {
  background-color: #F2E3CE;
  margin: 5px;
}

ul {
  padding: 0px;
}

li {
  list-style-type: none;
}

.container {
  background-color: #F2E3CE;
  opacity: .7;
}

.landing__container {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 10px;
  margin: 10px;
  background-color: #F2E3CE;
  opacity: .7;
}

.landing__container, p {
  align-items: center;
}

.login__container {
  display: flex;
  text-align: center;
  padding: 10px;
  background-color: #F2E3CE;
  opacity: .7;
}

.login__container, p {
  flex-direction: column;
  align-items: center;
  line-height: 24px;
  padding: 0px;
}

.login-form {
  background-color: #F2E3CE;
  opacity: .7;
}

.signup-form {
  background-color: #F2E3CE;
  opacity: .7;
}

input {
  margin: 5px;
}

input[type="radio"] {
  display: none;
}

/* ============================= */

/* .inp {
  position: relative;
  margin: auto;
  width: 100%;
  max-width: 280px;
  border-radius: 3px;
  overflow: hidden;
}

  .label {
    position: absolute;
    top: 20px;
    left: 12px;
    font-size: 16px;
    /* color: rgba(.5); 
    font-weight: 500;
    transform-origin: 0 0;
    transform: translate3d(0,0,0);
    transition: all .2s ease;
    pointer-events: none;
  }
  .focus-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: rgba(.05);
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
  } */

  input {
    -webkit-appearance: none;
    appearance: none;
    width: 90%;
    border: 0;
    font-family: 'Open Sans Condensed', sans-serif;;
    padding: 16px 12px 0 12px;
    height: 56px;
    font-size: 20px;
    box-shadow: inset 0 -1px 0 rgba(.3);
    color: black;
    font-weight: bolder;
    transition: all .15s ease;
  }

    input:hover {
      /* background: rgba(.04); */
      box-shadow: inset 0 -1px 0 rgba(.5);
    }
    
    input:not(:placeholder-shown) 
      + .label {
        /* color: rgba(.5); */
        transform: translate3d(0,-12px,0) scale(.75);
    }
    input:focus {
      /* background: rgba(.05); */
      outline: none;
      box-shadow: inset 0 -2px 0;
    }
      input .label {
        color: black;
        transform: translate3d(0,-12px,0) scale(.75)
      }
        input .focus-bg {
          transform: scaleX(1);
          transition: all .1s ease;
    }

/* ============================= */

.values-title {
  padding-top: 10px;
}

.overall-mood label {
  display: grid;
  text-align: center;
  border: 2px solid white;
  margin: 10px;
  padding: 10px;
  font-size: 22px;
}

input:checked + label {
  background-color: #BFC0C0;
  color: black;
  font-weight: bolder;
}

.overall-mood {
  margin: 10px;
  padding: 10px;
  color: black;
}

.entry-name {
  color: black;
  font-size: 20px;
}

/* entry__container {
  background-color: #F2E3CE;
  opacity: .7;
} */

.entry {
  color: black;
  background-color: #F2E3CE;
  opacity: .7;
}

@media screen and (max-width: 600px) {
  .header h2 {
    display: none;
  }

  .signup-form {
    width: 95%;
    display: inline-block;
  }

  .login-form {
    width: 95%;
    display: inline-block;
  }

  .container {
    width: 95%;
    display: inline-block;
  }
}

@media screen and (min-width: 600px) {
  .App {
    display: grid;
    grid-template-columns: 15% 35% 35% 15%;
    /* grid-template-rows: 1fr; */
    grid-template-areas: 
    "nav nav header header "
    ". main main ."
    "journal journal journal journal"
    ;
  }

  header {
    grid-area: header;
  }

  .menu {
    grid-area: nav;
  }

  .navbar #hamburger {
    display: none;
  }

  .navbar label, #hamburger {
    display: none;
  }

  .navbar ul li {
    display: block;
    cursor: pointer;
  }

  main {
    grid-area: main;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }

  .main {
    grid-area: main;
  }

  .my-journal {
    grid-area: journal;
  }

  .my-journal-entries {
    display: block;
    grid-area: journal;
    grid-row-gap: 10px;
  }
}
