html {
  /* background-color: #F2E3CE; */
  background: url(background.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.App {
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.button {
  display: inline-flex;
  height: 40px;
  width: 150px;
  border: 2px solid #BFC0C0;
  margin: 20px 20px 20px 20px;
  color: #BFC0C0;
  /* text-transform: uppercase; */
  text-decoration: none;
  font-size: 1em;
  letter-spacing: 1.5px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

a {
  color: #BFC0C0;
  text-decoration: none;
  letter-spacing: 1px;
}

#button-3 {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

#button-3 a {
  position: relative;
  transition: all .45s ease-Out;
}

#circle {
  width: 0%;
  height: 0%;
  opacity: 0;
  line-height: 40px;
  border-radius: 50%;
  background: #BFC0C0;
  position: absolute;
  transition: all .5s ease-Out;
  top: 20px;
  left: 70px;
}

#button-3:hover #circle {
  width: 200%;
  height: 500%;
  opacity: 1;
  top: -70px;
  left: -70px;
}

#button-3:hover a {
  color: #2D3142;
}

h1 {
  font-family: 'Shadows Into Light Two', cursive;
  font-size: 44px;
  color: black;
  padding: 0px;
  margin: 5px;
}

h2 {
  /* color: #EBA29D; */
  color: black;
  /* color: #023B09; */
  font-size: 28px;
  margin: 0px;
}

p {
  font-size: 20px;
  color: black;
}

a {
  color: black;
  text-decoration: none;
}

a:active {
  text-decoration: underline;
  /* text-decoration-color: #EBA29D; */
  text-decoration-color: #F2E3CE;
}

a:hover {
  text-decoration: underline;
  text-decoration-color: #F2E3CE;
}

/* .navbar {
  background-color: #F2E3CE;
} */

.menu {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.menu, li {
  align-content: center;
}

.nav-token {
  padding: 10px;
  margin: 0;
}

.nav-link {
  list-style-type: none;
  font-size: 22px;
}

.new {
  background-color: #F2E3CE;
  margin: 5px;
}

.new-entry {
  background-color: #F2E3CE;
  opacity: .8;
}

.home {
  background-color: #F2E3CE;
  margin: 5px;
}

ul {
  font-size: 16px;
  padding: 0px;
}

li {
  font-size: 18px;
  list-style-type: none;
}

button {
  cursor: pointer;
}

/* button:hover {
  /* background-color: #EBA29D
  background-color: #F2E3CE;
} */

/* .submit-button {
  color: black;
} */

.landing__container {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px solid white;
  padding: 10px;
  margin: 10px;
}

.landing__container, p {
  align-items: center;
}

.login__container {
  display: flex;
  text-align: center;
  /* border: 1px solid white; */
  margin: 10px;
  padding: 10px;
  background-color: #F2E3CE;
  opacity: .8;
}

.login__container, p {
  flex-direction: column;
  align-items: center;
  margin: 3px;
  padding: 0px;
}

input {
  margin: 5px;
}

.overall-mood {
  margin: 10px;
  padding: 10px;
  color: black;
  font-size: 20px;
}

.entry-name {
  color: black;
  font-size: 20px;
}

/* entry__container {
  background-color: #F2E3CE;
  opacity: .7;
} */

.entry {
  color: black;
  background-color: #F2E3CE;
  opacity: .7;
}

@media screen and (min-width: 600px) {
  .App {
    display: grid;
    grid-template-columns: 15% 35% 35% 15%;
    /* grid-template-rows: 1fr; */
    grid-template-areas: 
    "nav nav header header "
    ". main main ."
    "journal journal journal journal"
    ;
  }

  header {
    grid-area: header;
  }

  .menu {
    grid-area: nav;
  }

  main {
    grid-area: main;
  }

  .main {
    grid-area: main;
  }

  .my-journal {
    grid-area: journal;
  }

  .my-journal-entries {
    display: block;
    grid-area: journal;
    grid-row-gap: 10px;
  }
}
