html {
  /* background-color: #F2E3CE; */
  background: url(background.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.App {
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

h1 {
  font-family: 'Shadows Into Light Two', cursive;
  font-size: 44px;
  color: black;
  padding: 0px;
  margin: 5px;
}

h2 {
  /* color: #EBA29D; */
  color: black;
  /* color: #023B09; */
  font-size: 28px;
  margin: 0px;
}

p {
  font-size: 20px;
  color: black;
}

a {
  color: black;
  text-decoration: none;
}

a:active {
  text-decoration: underline;
  /* text-decoration-color: #EBA29D; */
  text-decoration-color: #F2E3CE;
}

a:hover {
  text-decoration: underline;
  text-decoration-color: #F2E3CE;
}

/* .navbar {
  background-color: #F2E3CE;
} */

.menu {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.menu, li {
  align-content: center;
}

.nav-token {
  padding: 10px;
  margin: 0;
}

.nav-link {
  list-style-type: none;
  font-size: 22px;
}

.new {
  background-color: #F2E3CE;
  margin: 5px;
}

.home {
  background-color: #F2E3CE;
  margin: 5px;
}

ul {
  font-size: 16px;
  padding: 0px;
}

li {
  font-size: 18px;
  list-style-type: none;
}

button {
  margin: 3px;
  cursor: pointer;
}

button:hover {
  /* background-color: #EBA29D */
  background-color: #F2E3CE;
}

.submit-button {
  color: black;
}

.landing__container {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px solid white;
  padding: 10px;
  margin: 10px;
}

.landing__container, p {
  align-items: center;
}

.login__container {
  display: flex;
  text-align: center;
  /* border: 1px solid white; */
  margin: 10px;
  padding: 10px;
  background-color: #F2E3CE;
  opacity: .8;
}

.login__container, p {
  flex-direction: column;
  align-items: center;
  margin: 3px;
  padding: 0px;
}

input {
  margin: 5px;
}

.overall-mood {
  margin: 10px;
  padding: 10px;
  color: black;
  font-size: 20px;
}

.entry-name {
  color: black;
  font-size: 20px;
}

.entry {
  background-color: #F2E3CE;
  opacity: .7;
}

@media screen and (min-width: 600px) {
  .App {
    display: grid;
    grid-template-columns: 15% 35% 35% 15%;
    grid-template-areas: 
    "nav nav header header "
    ". main main ."
    "journal journal journal journal"
    ;
  }

  header {
    grid-area: header;
  }

  .menu {
    grid-area: nav;
  }

  main {
    grid-area: main;
  }

  .main {
    grid-area: main;
  }

  .my-journal {
    grid-area: journal;
  }
}
